body {
	padding: 0;
	margin: 0;
	font-family: 'apercu_pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #318cc6;
	background-color: #ffffff;
	max-width: 1260px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

.logo {
	position: absolute;
	top: 20px;
	left: -200px;
}

.logo img {
	width: 145px;
	height: 54px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav a {
	text-decoration: none;
}

.user-navigation ul {
	display: flex;
	margin-bottom: 20px;
}

.user-navigation li {
	color: #808080;
	font-size: 12px;
	font-weight: 700;
	margin-right: 15px;
}

.user-navigation li:last-child {
	position: absolute;
	top: 10px;
	right: -210px;
}

.user-navigation a {
	color: #ff0000;
}

.site-navigation ul {
	display: flex;
	width: 730px;
	padding-bottom: 10px;
	border-bottom: 2px solid #dcdcdc;
	margin-bottom: 20px;
}

.site-navigation li {
	margin-right: 20px;
}

.site-navigation li:last-child {
	margin-right: 0;
}

.site-navigation a {
	color: #318cc6;
	font-weight: 700;
}

.site-navigation a:focus {
	color: #475669;
}

.search {
	min-height: 70px;
	padding: 8px 0 8px 0;
	background-color: #F4F2D7;
}

.search input {
	width: 720px;
	box-sizing: border-box;
	border: 0;
	padding-left: 15px;
	margin-left: 80px;
	min-height: 50px;
}

.search input::placeholder {
	font-size: 14px;
	color: #d3d3d3;
}

.search button {
	position: absolute;
}

.parameters {
	width: 80px;
	min-height: 50px;
	border: 0;
	background-color: #faf6e5;
}

.parameters i::before {
	content: "\f1de";
	color: rgb(255, 142, 65);
	font-size: 20px;
	font-size: inherit;
}

.key {
	left: -200px;
	width: 90px;
	min-height: 50px;
	border: 1px solid #ffffff;
	background-color: #FB892D;
}

.language {
	position: absolute;
	top: 10px;
	right: -200px;
	text-transform: uppercase;
	width: 70px;
	min-height: 50px;
	border: 0;
	background-color: #faf6e5;
	color: #FB892D;
	font-size: 13px;
	font-weight: 700;
	padding-left: 15px;
}

/*.language::after {
	content: "";
	position: absolute;
	top: 18px;
	right: 7px;
	width: 6px;
	height: 6px;
	border-right: 2.5px solid #FB892D;
	border-bottom: 2.5px solid #FB892D;
	transform: rotate(45deg);
}*/

.container .current {
	color: #475669 !important;
	padding-bottom: 11px;
	border-bottom: 2px solid #475669;
}

.searching-form {
	background-color: #faf6e5;
	padding-top: 10px;
}

.searching-form .container {
	padding: 10px 0 0 0;
}

.searching-form a {
	text-decoration: none;
	color: inherit;
}

.searching-form a:focus {
	color: #475669;
}

.searching-form ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 30px;
}

.searching-form li {
	font-weight: 700;
	margin-right: 20px;
}

.uppercase {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	color: #6B6B6B;
	margin-bottom: 20px;
}

.searching-form textarea[name="parameters"] {
	width: 99%;
	min-height: 105px;
	padding: 10px 2px 10px 5px;
	border: 0;
}

.searching-form textarea[name="parameters"]::placeholder {
	color: #999;
	line-height: 20px;
	font-weight: 700;
}

.searching-form textarea[name="parameters"]:focus {
	min-height: 145px;
	transition: min-height 0.3s;
	outline: 0;
}

.three-inputs {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.three-inputs input {
	width: 32.9%;
	box-sizing: border-box;
	min-height: 50px;
	border: 0;
	padding-left: 10px;
}

.three-inputs input:focus {
	outline: 0;
}

.three-inputs input::placeholder {
	color: #999;
	font-weight: 700;
}

.three-inputs input:focus::placeholder {
	transform: translateY(-15px);
	font-size: 12px;
	transition: transform 0.2s linear;
}

.searching-form .sending {
	width: 33%;
	height: 50px;
	background-color: #FB892D;
	color: #ffffff;
	font-size: 16px;
	border: 0;
	margin-bottom: 20px;
}

.sending .first-svg {
	transform-origin: 25% 50%;
	transform: scale(0);
}

.sending .second-svg {
	transform-origin: 50% 50%;
	transform: scale(0);
}

.sending .third-svg {
	transform-origin: 75% 50%;
	transform: scale(0);
}

@keyframes first-appear {
	25% {
		transform: scale(1);
	}
	75%, 100% {
		transform: scale(0);
	}
}

@keyframes second-appear {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes third-appear {
	0%, 25% {
		transform: scale(0);
	}
	75% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

.sending .first-svg {
	animation-name: first-appear;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.sending .second-svg {
	animation-name: second-appear;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.sending .third-svg {
	animation-name: third-appear;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.rules p {
	font-size: 12px;
	color: #000000;
	margin: 0;
}

.rules a {
	text-decoration: none;
	color: #45A5C9;
}

footer {
	color: #999;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	display: flex;
	padding: 20px 50px;
}

footer h2 {
	color: #000000;
	margin-bottom: 10px;
}

.footer-left {
	width: 600px;
	margin-right: 20px;
}

footer a {
	text-decoration: none;
	color: #45A5C9;
}

.back a {
	text-decoration: none;
	color: inherit;
}

.rega-page h2 {
	font-size: 18px;
	color: #636363;
	margin-bottom: 40px;
}

.rega-page p {
	color: #636363;
}

.sent a {
	text-decoration: none;
	color: #45A5C9;
}

.rega-page .container:last-child {
	margin-top: -30px;
}

.searching-form .autorization {
	margin-top: 20px;
	margin-left: 10px;
	background-color: #ffffff;
	color: #FB892D;
	border: 1px solid #FB892D;
}

.first-line {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.first-line input, 
.second-line input {
	min-height: 50px;
	border: 0;
	box-sizing: border-box;
	padding-left: 10px;
}

.first-line input::placeholder,
.second-line input::placeholder {
	font-weight: 700;
	color: #B3B3B2;
	line-height: 20px;
}

.first-line input:focus,
.second-line input:focus {
	outline: 0;
}

.first-line input[name="dates"] {
	width: 35%
}

.first-line input[name="days"] {
	position: relative;
	width: 20%;
}

.first-line input[name="persons"] {
	width: 20%;
}

.first-line input[name="price"] {
	width: 15%;
}

.first-line select {
	border: 0;
	width: 9%;
	padding-left: 10px;
	font-size: 20px;
	color: #636363;
}

.first-line option {
	min-height: 50px;
	font-size: 20px;
	color: #636363;
	border-bottom: 1px solid #636363;
}

.radiobuttons {
	color: #636363;
	margin: 0;
	margin-top: 20px;
}

.radiobuttons input {
	visibility: hidden;
}

.radiobuttons label {
	position: relative;
}

.radiobuttons label:first-of-type {
	margin-right: 20px;
}

.radiobuttons label::before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border: 2px solid #636363;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 6px;
}

.radiobuttons .checkbox-indicator {
	display: block;
	width: 6px;
	height: 6px;
	background-color: #636363;
	border-radius: 50%;
	position: absolute;
	top: 6px;
	left: 10px;
	visibility: hidden;
}

.radiobuttons input:checked ~ .checkbox-indicator {
	visibility: visible;
}

.second-line {
	margin-top: 0;
	display: flex;
}

.second-line input {
	margin-right: 2px;
}

.second-line input[name="city-from"] {
	width: 25%;
}

.second-line input[name="city-to"] {
	width: 33%;
}

.second-line input[name="hotel-features"] {
	width: 33%;
}

.second-line button {
	margin-left: auto;
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border: 0;
	color: #B3B3B2;
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
}

.searching-form textarea[name="suggestions"] {
	width: 99%;
	min-height: 60px;
	border: 0;
	padding: 10px 2px 10px 10px;
}

.searching-form textarea[name="suggestions"]::placeholder {
	font-weight: 700;
	color: #B3B3B2;
	padding-top: 10px;
}

@keyframes bounce {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-300px);
				transform: translateY(-300px);
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
}

.dates-calendar {
	display: none;
	width: 280px;
	position: absolute;
	top: 115px;
	left: 282px;
	background-color: #ffffff;
	box-shadow: 0 2px 10px 2px #B3B3B2;
	z-index: 2;
	animation-name: bounce;
	animation-duration: 0.2s;
}

.flex-container {
	display: flex;
	padding: 10px 20px;
	border-bottom: 1px solid #A0522D;
}

.flex-container h3 {
	margin: 0;
}

.dates-calendar button,
.persons-quantity button {
	position: relative;
	padding: 0;
	margin-left: auto;
	border: 0;
	background-color: transparent;
	width: 20px;
	height: 20px;
}

.dates-calendar button::before,
.persons-quantity button::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 6px;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid red;
	transform: rotate(45deg);
}

.dates-calendar button::after,
.persons-quantity button::after {
	content: "";
	position: absolute;
	top: -9px;
	left: -8px;
	width: 20px;
	height: 20px;
	border-right: 1px solid red;
	transform: rotate(45deg);
}

.dates-calendar table {
	border-collapse: collapse;
	border: 2px solid #dcdcdc;
	width: 100%;
	height: 100%;
}

.dates-calendar .table {
	height: 190px;
	padding: 10px;
	box-sizing: border-box;
}

.table td {
	border: 2px solid #dcdcdc;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #636363;
}

.persons-quantity {
	display: none;
	width: 250px;
	position: absolute;
	top: 115px;
	left: 445px;
	background-color: #ffffff;
	box-shadow: 0 2px 10px 2px #B3B3B2;
	z-index: 2;
	animation-name: bounce;
	animation-duration: 0.2s;
}

.persons-quantity ul {
	margin: 0;
	padding: 0;
	padding: 13px 10px 10px 10px;
	display: flex;
	justify-content: space-between;
}

.persons-quantity li {
	margin: 0;
}

.persons-quantity a {
	display: inline-block;
	text-decoration: none;
	color: #FB892D;
	background-color: #ffffff;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #FB892D;
	padding-top: 3px;
	padding-left: 8px;
	box-sizing: border-box;
}

.persons-quantity a:focus {
	background-color: #FB892D;
	color: #ffffff;
}

.searching-form textarea[name="suggestions"]:focus {
	min-height: 100px;
	transition: min-height 0.3s;
	outline: 0;
}

.searching-form textarea[name="suggestions"]:focus::placeholder {
	transform: translateY(-15px);
	font-size: 12px;
	transition: transform 0.2s linear;
}

.visible {
	display: block;
}

.first-line label,
.second-line label {
	color: #d3d3d3;
	font-size: 14px;
	background-color: #ffffff;
}

.second-line input[name="adding-hotel"] {
	width: 79%;
}
